@font-face {
  font-family: "Roboto-Medium";
  src: url("../assets/fonts/roboto/Roboto-Medium.woff2") format("woff2"),
    url("../assets/fonts/roboto/Roboto-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
    url("../assets/fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
